*{
    font-family: 'Courier New', Courier, monospace;
}
body{
    font-size:30px;
    margin:0;
    background-color:rgb(169, 247, 221)
}
header{
    height: 100vh;
    color:white;
    background-color:rgb(104, 225, 225);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
       header h1{
        margin: 0;
    }
    h1{
        font-size: 2.5rem;
        color: rgb(29, 116, 193);
    }
.button{
    height: 35px;
    width: 100px;
    border:none;
    border-radius: 20px;
    cursor: pointer;
}
.button:hover{
    color: white;
    background-color:rgb(76, 156, 181);

}
main{
    padding: 20px;
}
    
section{
    height: 100vh;
    border:1px solid gray;
    border-radius: 20px;
    margin-bottom: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
.submit{
    height: 35px;
    width: 100px;
    border:none;
    border-radius: 20px;
    cursor: pointer;
}
.submit:hover{
    color: white;
    background-color:rgb(76, 156, 181);

}
input{
    border-radius:5px;
    border: 1px lightgrey;
    height:25px;
}
 .fixed{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    background-color:rgb(47, 131, 196);
}
footer{
    background: black;
    color: lightgray;
    height:35vh;

}
/* 📱 Mobile Devices */
@media (max-width: 768px) {

    body {
        font-size: 18px;
    }

    header {
        height: auto;
        padding: 40px 15px;
    }

    section {
        height: auto;
        padding: 20px;
    }

    .button {
        width: 80px;
        height: 30px;
        font-size: 12px;
    }
}

@media (min-width:600px) and ( max-width:1024) {

    body {
        font-size: 28px;
    }

    main {
        width: 80%;
        margin: auto;
    }

    section {
        padding: 40px;
    }
}